#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
#	- App\Model\UserManager
	- App\Model\GuestbookModel
	- App\Model\GalleryModel
	- App\Model\GallerySnapshotModel
	router: App\RouterFactory::createRouter

database:
	dsn: 'mysql:host=mysql;dbname=hucka_rajmund_cz'
	user: hucka.rajmund.cz
	password: 6uLVfVMoTL
	options:
		lazy: yes
